### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

###  Rust ###
target/
Cargo.lock


### Gradle ###
.gradle
build/



