name: CI
on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  PROTOC_VERSION: 3.20.3

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
          - "1.72"
        include:
          - name: Test proto-mapper `protobuf` feature
          - package: proto-mapper
          - flags: --F prost
          - test: --test all_test
    steps:
      - uses: actions/checkout@v3
      - name: Install toolchain (${{ matrix.toolchain }})
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Install protoc
        uses: taiki-e/install-action@v2
        with:
          tool: protoc@${{ env.PROTOC_VERSION }}
      - name: ${{matrix.name}}
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package ${{matrix.package}} ${{matrix.flags}} ${{matrix.test}}